body {
  font-size: 100%;
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(27, 127, 173);
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
picture {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.reload {
    display: block;
    width: 10vw;
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    background-color: transparent;
    padding: 0.625rem;
    color: white;
  }

.wrapper-author {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.owner {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}